<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenjun.astra_persistence.mappers.WorkoutLogEntityMapper">
  <resultMap id="BaseResultMap" type="com.wenjun.astra_persistence.models.WorkoutLogEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="calories_burnt" jdbcType="INTEGER" property="caloriesBurnt" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated" />
    <result column="date_updated" jdbcType="TIMESTAMP" property="dateUpdated" />
    <result column="intensity" jdbcType="VARCHAR" property="intensity" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="workout_type" jdbcType="VARCHAR" property="workoutType" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, calories_burnt, date, date_created, date_updated, intensity, title, uid, workout_type, 
    frequency, duration
  </sql>
  <select id="selectByExample" parameterType="com.wenjun.astra_persistence.models.WorkoutLogEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from workout_logs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from workout_logs
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from workout_logs
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wenjun.astra_persistence.models.WorkoutLogEntityExample">
    delete from workout_logs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wenjun.astra_persistence.models.WorkoutLogEntity">
    insert into workout_logs (id, calories_burnt, date, 
      date_created, date_updated, intensity, 
      title, uid, workout_type, 
      frequency, duration)
    values (#{id,jdbcType=BIGINT}, #{caloriesBurnt,jdbcType=INTEGER}, #{date,jdbcType=DATE}, 
      #{dateCreated,jdbcType=TIMESTAMP}, #{dateUpdated,jdbcType=TIMESTAMP}, #{intensity,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{workoutType,jdbcType=VARCHAR}, 
      #{frequency,jdbcType=VARCHAR}, #{duration,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wenjun.astra_persistence.models.WorkoutLogEntity">
    insert into workout_logs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="caloriesBurnt != null">
        calories_burnt,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="dateCreated != null">
        date_created,
      </if>
      <if test="dateUpdated != null">
        date_updated,
      </if>
      <if test="intensity != null">
        intensity,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="workoutType != null">
        workout_type,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="duration != null">
        duration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="caloriesBurnt != null">
        #{caloriesBurnt,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="dateCreated != null">
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="dateUpdated != null">
        #{dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="intensity != null">
        #{intensity,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="workoutType != null">
        #{workoutType,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wenjun.astra_persistence.models.WorkoutLogEntityExample" resultType="java.lang.Long">
    select count(*) from workout_logs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update workout_logs
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.caloriesBurnt != null">
        calories_burnt = #{row.caloriesBurnt,jdbcType=INTEGER},
      </if>
      <if test="row.date != null">
        date = #{row.date,jdbcType=DATE},
      </if>
      <if test="row.dateCreated != null">
        date_created = #{row.dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="row.dateUpdated != null">
        date_updated = #{row.dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="row.intensity != null">
        intensity = #{row.intensity,jdbcType=VARCHAR},
      </if>
      <if test="row.title != null">
        title = #{row.title,jdbcType=VARCHAR},
      </if>
      <if test="row.uid != null">
        uid = #{row.uid,jdbcType=VARCHAR},
      </if>
      <if test="row.workoutType != null">
        workout_type = #{row.workoutType,jdbcType=VARCHAR},
      </if>
      <if test="row.frequency != null">
        frequency = #{row.frequency,jdbcType=VARCHAR},
      </if>
      <if test="row.duration != null">
        duration = #{row.duration,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update workout_logs
    set id = #{row.id,jdbcType=BIGINT},
      calories_burnt = #{row.caloriesBurnt,jdbcType=INTEGER},
      date = #{row.date,jdbcType=DATE},
      date_created = #{row.dateCreated,jdbcType=TIMESTAMP},
      date_updated = #{row.dateUpdated,jdbcType=TIMESTAMP},
      intensity = #{row.intensity,jdbcType=VARCHAR},
      title = #{row.title,jdbcType=VARCHAR},
      uid = #{row.uid,jdbcType=VARCHAR},
      workout_type = #{row.workoutType,jdbcType=VARCHAR},
      frequency = #{row.frequency,jdbcType=VARCHAR},
      duration = #{row.duration,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wenjun.astra_persistence.models.WorkoutLogEntity">
    update workout_logs
    <set>
      <if test="caloriesBurnt != null">
        calories_burnt = #{caloriesBurnt,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="dateCreated != null">
        date_created = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="dateUpdated != null">
        date_updated = #{dateUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="intensity != null">
        intensity = #{intensity,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="workoutType != null">
        workout_type = #{workoutType,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wenjun.astra_persistence.models.WorkoutLogEntity">
    update workout_logs
    set calories_burnt = #{caloriesBurnt,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE},
      date_created = #{dateCreated,jdbcType=TIMESTAMP},
      date_updated = #{dateUpdated,jdbcType=TIMESTAMP},
      intensity = #{intensity,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      workout_type = #{workoutType,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>