<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenjun.astra_persistence.mappers.manual.ManualWorkoutLogEntityMapper">
    <select id="getRecentWorkouts" resultType="com.wenjun.astra_persistence.models.WorkoutLogEntity">
        select
            *
        from workout_logs
        where
            uid = #{userId}
            and date &lt; current_date
        order by date desc
        limit 3 offset 0
    </select>

    <select id="getWeeklyActivity" resultType="com.wenjun.astra_persistence.models.manual.DailyActivity">
        select
            date,
            sum(calories_burnt) as caloriesBurnt
        from workout_logs
        where
            uid = #{userId}
            and date &gt;= #{startDate}
            and date &lt;= #{endDate}
        group by date
        order by date asc;
    </select>

    <select id="createWorkoutLog" resultType="java.lang.Long" parameterType="com.wenjun.astra_persistence.models.WorkoutLogEntity">
        insert into workout_logs (
            calories_burnt,
            date,
            duration,
            intensity,
            title,
            uid
        ) values (
            #{caloriesBurnt},
            #{date},
            #{duration},
            #{intensity},
            #{title},
            #{uid}
        ) returning id
    </select>

    <insert id = "batchInsertRuns">
        insert into runs (
            distance,
            duration,
            index,
            workout_log_id
        ) values
        <foreach collection="runs" item = "run" separator = ",">
            (#{run.distance}, #{run.duration}, #{run.index}, #{run.workoutLogId})
        </foreach>
    </insert>

    <insert id = "batchInsertExercises">
        insert into exercises (
            index,
            name,
            reps,
            sets,
            weight,
            workout_log_id
        ) values
        <foreach collection="exercises" item = "exercise" separator = ",">
            (#{exercise.index}, #{exercise.name}, #{exercise.reps}, #{exercise.sets}, #{exercise.weight}, #{exercise.workoutLogId})
        </foreach>
    </insert>
</mapper>