<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenjun.astra_persistence.mappers.manual.ManualDailyLogEntityMapper">
    <select id="getMostRecentDailyLog" resultType="com.wenjun.astra_persistence.models.DailyLogEntity">
        select
            *
        from daily_logs
        where uid = #{userId}
        order by date
        <choose>
            <when test="isDescending">desc</when>
            <otherwise>asc</otherwise>
        </choose>
        limit 1 offset 0
    </select>
</mapper>